@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-spaceBlue font-sora;
  }
	.hamburger-icon {
		cursor: pointer;
		width: 50px;
		height: 50px;
		transition: all 0.35s;
		position: relative;
		z-index: 999;
		margin-left: auto;
		border-radius: 50%;
	}
	.hamburger-top,
	.hamburger-middle,
	.hamburger-bottom {
		position: absolute;
		top: 32%;
		left: 26%;
		width: 24px;
		height: 10px;
		background: #fff;
		transform: rotate(0);
		transition: all 0.3s;
		clip-path: polygon(0 0, 100% 0, 100% 23%, 14% 23%);
	}

	.hamburger-top {
		@apply bg-secondary;
	}
	.hamburger-middle {
		transform: translateY(7px);
	}

	.hamburger-bottom {
		transform: translateY(14px);
	}
	.open {
		transform: rotate(90deg);
		transform: translateY(0px);
	}

	.open .hamburger-top {
		transform: rotate(45deg) translateY(9px) translate(3px);
	}
	.open .hamburger-middle {
		transform: rotate(-45deg) translateY(6px) translate(-6px);
		opacity: 1;
		width: 24px;
	}

	.open .hamburger-bottom {
		opacity: 0;
	}

	.customBtn {
		clip-path: polygon(100% 0, 100% 70%, 90% 100%, 0 100%, 0 0);
	}

  .bodycopy {
    @apply text-base font-sora leading-30 text-white opacity-80;
  }
  .spacedText {
    @apply uppercase tracking-[4.80px] text-secondary leading-5 text-sm font-sora font-medium;
  }

  .subheading {
   @apply text-white font-sora;
  }

  .imageClip {
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0% 38%);
  }


.slider-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 300px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.slider-controls {
  display: flex;
  align-items: center;
  z-index: 99;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.dots {
  display: flex;
  gap: 10px;
  align-items: center;
}

.dot {
  width: 15px;
  height: 15px;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid white;
  position: relative; /* Add this */
}

.dot.active {
  width: 18px; /* Update this */
  height: 18px; /* Update this */
  border: 1px solid #E8B222; /* Update this */
}

.dot.active::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  left: 50%;
  top: 50%;
  background-color: #E8B222;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.hover:bgImageZoom:hover {
        background-size: 120%;
      }
.footer-links > li {
  @apply text-sm;
}
}